<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">

    <% unless @failed %><h4 class="bg-info"><%= t(:signin_please) %></h4><% end %>

    <% if @failed %>
      <p class="bg-danger">
        <%= t(:signin_try_again) %>
      </p>
      <br><br>
    <% end %>

    <% if @mail_message.present? %><%= @mail_message %><br><br><% end %>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => 'loginform' }) do |f| %>
      <input name='userlogin' class='userlogin' />

      <div class="form-group">
        <label><%= t(:userid) %></label>
        <div >
          <%= f.text_field :login, :value => cookies['user_id'], :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label><%= t(:password) %></label>
        <div>
          <%= f.password_field :password, :class => 'form-control' %>
          <%= link_to t(:forgot), new_user_password_path, :id => 'forgot_password' %>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me, :checked => true %>
            <%= t(:remember_me) %>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div><p class="form-control-static"><%= f.submit t(:signin), :class => 'btn btn-primary' %></p></div>
      </div>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  var login = document.getElementById('user_login');
  if (login.value.length == 0)
    login.focus();
  else
    document.getElementById('user_password').focus();
</script>
